<!-- Header -->
<header class="main-header">
  <div class="row no-gutters">
    <div class="img-dev col-lg-4 col-md-5">
      <img src="../public/img/me.jpg" alt="" />
    </div>
    <div class="col-lg-8 col-md-7">
      <div class="d-flex flex-column">
        <div class="p-5 bg-dark text-white">
          <div
            class="d-flex flex-row justify-content-between align-items-center"
          >
            <h1 class="display-4">George Roumieh</h1>
            <div>
              <a
                href="https://www.linkedin.com/in/george-roumieh-6606901bb/"
                class="text-white"
              >
                <i class="fab fa-linkedin fa-2x"></i>
              </a>
            </div>
            <div>
              <a href="https://github.com/george2621" class="text-white">
                <i class="fab fa-github fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="p-4 bg-black">
          Experienced Full Stack Web Developer
        </div>
        <div class="d-flex flex-row text-white align-items-stretch text-center">
          <div
            class="port-item bg-primary"
            data-toggle="collapse"
            data-target="#home"
          >
            <i class="fas fa-home p-3 fa-2x d-block"></i>
            <span class="d-none d-md-block">Home</span>
          </div>
          <div
            class="port-item bg-success"
            data-toggle="collapse"
            data-target="#resume"
          >
            <i class="fas fa-graduation-cap p-3 fa-2x d-block"></i>
            <span class="d-none d-md-block">Resume</span>
          </div>
          <div
            class="port-item bg-warning"
            data-toggle="collapse"
            data-target="#work"
          >
            <i class="fas fa-folder-open p-3 fa-2x d-block"></i>
            <span class="d-none d-md-block">Work</span>
          </div>
          <div
            class="port-item bg-danger"
            data-toggle="collapse"
            data-target="#contact"
          >
            <i class="fas fa-envelope p-3 fa-2x d-block"></i>
            <span class="d-none d-md-block">Contact</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Home -->
<div id="home" class="collapse show">
  <div class="card card-body py-5 bg-primary text-white">
    <h2>Welcome To My Page </h2>
    <p>After 6 years of studying Software Engineering in Syria, I had to leave
      my country seeking asylum in the Netherlands, I was able to overcome all
      the bad circumstances and graduate with good degree, My passion was to be
      a web development and today I allocate all my energy to make this dream
      come true, I’m a responsible and creative person and always like to learn
      more and more and keep up to date with all new technicals, In addition to
      collaborating and working on the team.</p>
  </div>
  <div class="card card-body py-5">
    <h3>My Skills</h3>
    <hr />
    <h5>HTML 5 </h5>
    <div class="progress mb-3">
      <div class="progress-bar bg-success" style="width: 90%"></div>
    </div>
    <h5>Css 3 </h5>
    <div class="progress mb-3">
      <div class="progress-bar bg-success" style="width: 80%"></div>
    </div>
    <h5>Javascript </h5>
    <div class="progress mb-3">
      <div class="progress-bar bg-success" style="width: 85%"></div>
    </div>
    <h5>ReactJS</h5>
    <div class="progress mb-3">
      <div class="progress-bar bg-success" style="width: 80%"></div>
    </div>
    <h5>NodeJS </h5>
    <div class="progress mb-3">
      <div class="progress-bar bg-success" style="width: 70%"></div>
    </div>
    <h5>MySQL</h5>
    <div class="progress mb-3">
      <div class="progress-bar bg-success" style="width: 80%"></div>
    </div>
    <h5>MongoDB</h5>
    <div class="progress mb-3">
      <div class="progress-bar bg-success" style="width: 60%"></div>
    </div>

    <div class="row p-5">
      <div class="col-md-6 col-lg-3 p-2">
        <div class="p-2 skills bg-light text-dark text-center">
          <p>GitHub</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 p-2">
        <div class="p-2 skills bg-light text-dark text-center">
          <p>Problem solving
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 p-2">
        <div class="p-2 skills bg-light text-dark text-center">
          <p>Time management
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 p-2">
        <div class="p-2 skills bg-light text-dark text-center">
          <p>Good communicator
          </p>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Resume -->
<div id="resume" class="collapse">
  <div class="card card-body py-5 bg-success text-white">
    <h2>My Resume</h2>
    <p>Go below and take a look at my education and experience</p>
  </div>
  <div class="card card-body py-5">
    <h3>Where I studied ?</h3>
    <div class="card-deck pt-3">
      <div class="card mb-4">
        <div class="card-body">
          <h4 class="card-title">Al-Baath University, BSc Software Engineering.
          </h4>
          <p class="card-text">I studied Software Engineering for 5 years in
            Homs city and graduated in 2020</p>
        </div>
        <div class="card-footer">
          <h5 class="text-muted">Dates: 2014 - 2020 </h5>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Web Development at HackYourFuture.
          </h4>
          <p class="card-text">A 28-week course designed to cover all aspects of
            full stack-development including HTML, Css, Javascript, NodeJS,
            ExpressJS, MySQL and ReactJS
          </p>
        </div>
        <div class="card-footer">
          <h5 class="text-muted">Dates: 2021</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="card card-body py-5">
    <h3>My Experience ?</h3>
    <div class="card-deck pt-3">
      <div class="card mb-4">
        <div class="card-body">
          <h4 class="card-title">Syrian society for social development (SSSD).
          </h4>
          <p class="card-text">I was a part of the team that developed the main
            program that the association uses for helping syrian people by Java.
            And working with people with special need and activate manager for
            displaced people.
          </p>
        </div>
        <div class="card-footer">
          <h5 class="text-muted">Dates: 2019 - 2020</h5>
        </div>
      </div>
    </div>
  </div>

</div>

<div id="work" class="collapse">
  <div class="card card-body py-5 bg-warning text-white">
    <h2>My Work </h2>
    <p>Some projects that I created during studying at HackYouFuture.</p>
  </div>
  <div class="card card-body py-5">
    <h3>What Have I Built?</h3>
    <div class="row no-glutter pt-3">

      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h4 class="card-title">MyRecipes</h4>
            <hr />
            <a href="https://adoring-lovelace-5d27bb.netlify.app/">
              <img
                class="homepage-work"
                src="../public/img/my-recipes.jpg"
                alt=""
              />
            </a>
            <p class="card-text mt-5">Recipes website that show you all the
              categories and help you to search for any recipe in addition to
              show many information about the recipe ex: (ingredients,
              Nutrients, calories, etc).
            </p>
          </div>
          <div class="card-footer">
            <h5 class="text-muted"><a
                href="https://github.com/george2621/My-Recipes"
              >Source</a>
            </h5>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h4 class="card-title">A-Team Quiz</h4>
            <hr />
            <a href="https://george2621.github.io/browser-quiz/">
              <img class="homepage-work" src="../public/img/quiz.png" alt="" />
            </a>
            <p class="card-text mt-5">It's a quiz from 10 education question,
              show you the wrong question with explain what is the correct
              answer with some sources
            </p>
          </div>
          <div class="card-footer">
            <h5 class="text-muted"><a
                href="https://github.com/george2621/browser-quiz"
              >Source</a>
            </h5>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h4 class="card-title">MyCovid</h4>
            <hr />
            <a
              class="mb-4"
              href="https://george2621.github.io/MyCovid-Project/covid.html"
            >
              <img
                class="homepage-work"
                src="../public/img/mycovid.png"
                alt=""
              />
            </a>
            <p class="project-description card-text mt-5">Simple website for
              corona statistics in the world, where show the global stats with
              the ability of inquiring about the status of Corona in any country</p>
          </div>
          <div class="card-footer">
            <h5 class="text-muted"><a
                href="https://github.com/george2621/MyCovid-Project"
              >Source</a></h5>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4">
          <div class="card-body">
            <h4 class="card-title">Adyen Clone</h4>
            <hr />
            <a
              href="https://george2621.github.io/HYF-Module-HTMLCSSGIT/week3/index.html"
            >
              <img class="homepage-work" src="../public/img/adyen.png" alt="" />
            </a>
            <p class="card-text mt-5">Created a clone of Adyen homepage by Html,
              Css, Bootstrap. I tried to make it similar to the original as much
              as possible</p>
          </div>
          <div class="card-footer">
            <h5 class="text-muted"><a
                href="https://github.com/george2621/HYF-Module-HTMLCSSGIT/tree/master/week3"
              >Source</a>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="contact" class="collapse">
  <div class="card card-body py-5 bg-danger text-white">
    <h2>Contact me</h2>
    <p>You can contact with me by all social media above or by email.</p>
  </div>
  <div class="card card-body py-5">
    <h3 class="mb-4">Get In Touch</h3>
    <h4>{{msg}}</h4>
    <form method="POST" action="send">
      <div class="form-group mb-4">
        <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text bg-danger text-white">
              <i class="fas fa-user"></i>
            </span>
          </div>
          <input
            type="text"
            class="form-control bg-dark text-white"
            name="name"
            placeholder="Name"
          />
        </div>
      </div>
      <div class="form-group mb-4">
        <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text bg-danger text-white">
              <i class="fas fa-envelope"></i>
            </span>
          </div>
          <input
            type="text"
            class="form-control bg-dark text-white"
            name="email"
            placeholder="Email"
          />
        </div>
      </div>
      <div class="form-group mb-4">
        <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text bg-danger text-white">
              <i class="fas fa-phone"></i>
            </span>
          </div>
          <input
            type="text"
            class="form-control bg-dark text-white"
            name="phone"
            placeholder="Phone Number"
          />
        </div>
      </div>
      <div class="form-group mb-4">
        <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text bg-danger text-white">
              <i class="fas fa-pencil-alt"></i>
            </span>
          </div>
          <textarea
            type="text"
            class="form-control bg-dark text-white"
            name="message"
            placeholder="Name"
          ></textarea>
        </div>
        <input
          type="submit"
          value="Submit"
          class="btn btn-danger submit-btn btn-lg text-center mt-4"
        />
      </div>
    </form>
  </div>
</div>

<!-- Footer -->
<footer id="main-footer" class="p-5 bg-dark text-white">
  <div class="row">
    <div class="col-md-6">
      <a
        href="https://docs.google.com/presentation/d/1F_Q9tVT6CF1rhddAx0R4QGvyasZvWHPt/edit?usp=sharing&ouid=100504832671116586647&rtpof=true&sd=true"
        class="btn btn-outline-light"
      >
        <i class="fas fa-cloud"></i>
        Download Resume
      </a>
    </div>
  </div>
</footer>

<script type="module" src="../public/java.js"></script>