.main-header img {
  width: 100%;
  height: 100%;
}

p {
  font-size: 20px;
}

.main-header .port-item {
  width: 25%;
}

.main-header .port-item:hover {
  opacity: 0.8;
  cursor: pointer;
}

.bg-black {
  background: #000;
  color: #fff;
}

@media (min-width: 1199px) {
  .port-item {
    padding: 4em !important;
  }
}

.homepage-work {
  width: 100%;
  height: 100%;
}

.input-group-text {
  height: 100%;
}

.submit-btn {
  width: 100%;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.skills {
  border-radius: 5px;
}
